panel_src/__pycache__/
panel_src/_*.png
panel_src/_*.svg
/src/deprecated
/res/SVG_ASSETS_GUIDE.md
/res/DEEPSTRAITSSANDS_COORDINATES.md
/res/DEEPSTRAITSSANDS_DESIGN_GUIDE.md
/res/DESIGN_SYSTEM.svg
/res/files.zip
/res/files3.zip
/res/files4.zip
/res/gen_components.py
/res/MeloDicer_panel.svg
/res/MeloDicer_panel_light.svg
/res/PANEL_ARCHITECTURE.md
/res/RDM_BtnDice.svg
/res/RDM_BtnLock.svg
/res/RDM_BtnRun.svg
/res/RDM_BtnSquare.svg
/res/RDM_LED_Blue.svg
/res/RDM_LED_Green.svg
/res/RDM_LED_Large_Green.svg
/res/RDM_LED_Med_Green.svg
/res/RDM_LED_Med_Red.svg
/res/RDM_LED_Med_Yellow.svg
/res/RDM_LED_Red.svg
/res/RDM_LED_White.svg
/res/RDM_LED_Yellow.svg
/res/RDM_PortInput.svg
/res/RDM_PortOutput.svg
/res/RDM_SliderHandle.svg
/res/RDM_SliderTrack.svg
/res/RDM_TrimCream_Cog.svg
/res/RDM_TrimCream_Dot.svg
/res/RDM_TrimCream_Quad.svg
/res/RDM_TrimCream_Slot.svg
/res/RDM_TrimDark_Cog.svg
/res/RDM_TrimDark_Dot.svg
/res/RDM_TrimDark_Quad.svg
/res/RDM_TrimDark_Slot.svg
/res/old
/src/res
